Importing the Dependencies

In [105]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder

Data Collection and Processing

In [106]:
# loading the csv data to a Pandas DataFrame
heart_data = pd.read_csv('heart_disease.csv.txt')

In [107]:
# print first 5 rows of the dataset
heart_data.head()

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No

In [108]:
# print last 5 rows of the dataset
heart_data.tail()

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
299,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
300,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
301,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
302,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
303,38,1,nonanginal,138,175,0,0,173,0,0.0,1,NaN,normal,No

In [116]:
heart_data.dropna(inplace=True)
print(heart_data)
heart_data.info()

     Age  Sex  ChestPain  RestBP  Chol  Fbs  RestECG  MaxHR  ExAng  Oldpeak  \
1     63    1          3     145   233    1        2    150      0      2.3
2     67    1          2     160   286    0        2    108      1      1.5
3     67    1          2     120   229    0        2    129      1      2.6
4     37    1          1     130   250    0        0    187      0      3.5
5     41    0          0     130   204    0        2    172      0      1.4
..   ...  ...        ...     ...   ...  ...      ...    ...    ...      ...
298   57    0          2     140   241    0        0    123      1      0.2
299   45    1          3     110   264    0        0    132      0      1.2
300   68    1          2     144   193    1        0    141      0      3.4
301   57    1          2     130   131    0        0    115      1      1.2
302   57    0          0     130   236    0        2    174      0      0.0

     Slope   Ca Thal AHD
1        3  0.0    2   0
2        2  3.0    1   1
3        2  2.0    0   1
4        3  0.0    1   0
5        1  0.0    1   0
..     ...  ...  ...  ..
298      2  0.0    0   1
299      2  0.0    0   1
300      2  2.0    0   1
301      2  1.0    0   1
302      2  1.0    1   1

[297 rows x 14 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 297 entries, 1 to 302
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Age        297 non-null    int64
 1   Sex        297 non-null    int64
 2   ChestPain  297 non-null    int32
 3   RestBP     297 non-null    int64
 4   Chol       297 non-null    int64
 5   Fbs        297 non-null    int64
 6   RestECG    297 non-null    int64
 7   MaxHR      297 non-null    int64
 8   ExAng      297 non-null    int64
 9   Oldpeak    297 non-null    float64
 10  Slope      297 non-null    int64
 11  Ca         297 non-null    float64
 12  Thal       297 non-null    object
 13  AHD        297 non-null    object
dtypes: float64(2), int32(1), int64(9), object(2)
memory usage: 33.6+ KB

In [117]:
heart_data['AHD'].replace(['Yes','No'],['1','0'],inplace=True)

In [118]:
heart_data['Thal'].replace(['fixed','normal','reversable'],['2','1','0'],inplace=True)
heart_data.head()

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
1,63,1,3,145,233,1,2,150,0,2.3,3,0.0,2,0
2,67,1,2,160,286,0,2,108,1,1.5,2,3.0,1,1
3,67,1,2,120,229,0,2,129,1,2.6,2,2.0,0,1
4,37,1,1,130,250,0,0,187,0,3.5,3,0.0,1,0
5,41,0,0,130,204,0,2,172,0,1.4,1,0.0,1,0

In [119]:
heart_data['ChestPain'].replace(['typical','asymptomatic','nonanginal','nontypical'],['3','2','1','0'],inplace=True)
heart_data.head()

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
1,63,1,3,145,233,1,2,150,0,2.3,3,0.0,2,0
2,67,1,2,160,286,0,2,108,1,1.5,2,3.0,1,1
3,67,1,2,120,229,0,2,129,1,2.6,2,2.0,0,1
4,37,1,1,130,250,0,0,187,0,3.5,3,0.0,1,0
5,41,0,0,130,204,0,2,172,0,1.4,1,0.0,1,0

In [120]:
heart_data['ChestPain']=heart_data.ChestPain.astype(int)

In [121]:
heart_data['Thal']=heart_data.Thal.astype(int)

In [122]:
heart_data['AHD']=heart_data.AHD.astype(int)

In [123]:
# number of rows and columns in the dataset
heart_data.shape

(297, 14)

In [124]:
# getting some info about the data
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 297 entries, 1 to 302
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Age        297 non-null    int64
 1   Sex        297 non-null    int64
 2   ChestPain  297 non-null    int32
 3   RestBP     297 non-null    int64
 4   Chol       297 non-null    int64
 5   Fbs        297 non-null    int64
 6   RestECG    297 non-null    int64
 7   MaxHR      297 non-null    int64
 8   ExAng      297 non-null    int64
 9   Oldpeak    297 non-null    float64
 10  Slope      297 non-null    int64
 11  Ca         297 non-null    float64
 12  Thal       297 non-null    int32
 13  AHD        297 non-null    int32
dtypes: float64(2), int32(3), int64(9)
memory usage: 31.3 KB

In [125]:
# checking for missing values
heart_data.isnull().sum()

Age          0
Sex          0
ChestPain    0
RestBP       0
Chol         0
Fbs          0
RestECG      0
MaxHR        0
ExAng        0
Oldpeak      0
Slope        0
Ca           0
Thal         0
AHD          0
dtype: int64

In [126]:
# statistical measures about the data
heart_data.describe()

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
count,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000
mean,54.542088,0.676768,1.468013,131.693603,247.350168,0.144781,0.996633,149.599327,0.326599,1.055556,1.602694,0.676768,0.673401,0.461279
std,9.049736,0.468500,0.858082,17.762806,51.997583,0.352474,0.994914,22.941562,0.469761,1.166123,0.618187,0.938965,0.585061,0.499340
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,1.000000,120.000000,211.000000,0.000000,0.000000,133.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
50%,56.000000,1.000000,2.000000,130.000000,243.000000,0.000000,1.000000,153.000000,0.000000,0.800000,2.000000,0.000000,1.000000,0.000000
75%,61.000000,1.000000,2.000000,140.000000,276.000000,0.000000,2.000000,166.000000,1.000000,1.600000,2.000000,1.000000,1.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,3.000000,2.000000,1.000000

In [128]:
# checking the distribution of Target Variable
heart_data['AHD'].value_counts()

0    160
1    137
Name: AHD, dtype: int64

1 --> Diseased Heart

0 --> Healthy Heart

Splitting the Features and Target

In [130]:
X = heart_data.drop(columns='AHD', axis=1)
Y = heart_data['AHD']

In [ ]:
print(X)

     age  sex  cp  trestbps  chol  ...  exang  oldpeak  slope  ca  thal
0     63    1   3       145   233  ...      0      2.3      0   0     1
1     37    1   2       130   250  ...      0      3.5      0   0     2
2     41    0   1       130   204  ...      0      1.4      2   0     2
3     56    1   1       120   236  ...      0      0.8      2   0     2
4     57    0   0       120   354  ...      1      0.6      2   0     2
..   ...  ...  ..       ...   ...  ...    ...      ...    ...  ..   ...
298   57    0   0       140   241  ...      1      0.2      1   0     3
299   45    1   3       110   264  ...      0      1.2      1   0     3
300   68    1   0       144   193  ...      0      3.4      1   2     3
301   57    1   0       130   131  ...      1      1.2      1   1     3
302   57    0   1       130   236  ...      0      0.0      1   1     2

[303 rows x 13 columns]

In [131]:
print(Y)

1      0
2      1
3      1
4      0
5      0
      ..
298    1
299    1
300    1
301    1
302    1
Name: AHD, Length: 297, dtype: int32

Splitting the Data into Training data & Test Data

In [132]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [133]:
print(X.shape, X_train.shape, X_test.shape)

(297, 13) (237, 13) (60, 13)

Model Training

Logistic Regression

In [134]:
model = LogisticRegression()

In [135]:
# training the LogisticRegression model with Training data
model.fit(X_train, Y_train)

c:\users\akshay rai\appdata\local\programs\python\python39\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

Model Evaluation

Accuracy Score

In [136]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [137]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.8438818565400844

In [138]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [139]:
print('Accuracy on Test data : ', test_data_accuracy)

Accuracy on Test data :  0.8166666666666667

Building a Predictive System

In [140]:
input_data = (62,0,0,140,268,0,0,160,0,3.6,0,2,2)

# change the input data to a numpy array
input_data_as_numpy_array= np.asarray(input_data)

# reshape the numpy array as we are predicting for only on instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)
print(prediction)

if (prediction[0]== 0):
  print('The Person does not have a Heart Disease')
else:
  print('The Person has Heart Disease')

[0]
The Person does not have a Heart Disease